body {
    font-family: Arial, sans-serif;
    background: rgb(255, 255, 255);
    margin: 0;
}


/* Navigation CSS */
nav{
    background: rgb(33, 29, 29)
}

nav a {
    transition: background-color 0.3s, color 0.3s;
    display: block;
    background: solid rgb(33, 29, 29);
    color: rgb(255, 255, 255);
    font-family: alternate;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
}

nav a:hover{
    background-color: #504f4f;
}

nav ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li { 
    display: inline-block;
}


/* Home CSS */
.home { 
    margin-top: 22px;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    font-family: alternate;
    
}

section .home-intro p{
    border: 2px solid rgb(228, 148, 73);
    background: rgb(255, 255, 255);
    box-shadow: 5px 5px rgb(185, 121, 61);
}

section .home-intro h1{
    background: rgb(228, 148, 73);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.home-text{
    padding: 15px 15px;
    border-radius: 15px;
    max-width: 300px;
}

.home-text a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    cursor: pointer;
}

.profile-photo { /* the styling of my photo */
    border: 2px solid rgb(228, 148, 73);
    background: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px rgb(185, 121, 61);
    margin-right: 30px; 
    padding: 5px;
}

/* Footer CSS */
.footertxt{
    text-align: center;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6%;
}

/* About Me CSS */
.about-me{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    text-overflow: hidden;
    font-family: alternate;
}

section .about-content p{
    border:2px solid rgb(228, 148, 73);
    border-radius: 15px;
    padding: 10px 10px;
    box-shadow: 5px 5px rgb(185, 121, 61);
    background: rgb(255, 255, 255);
}

section .about-content h1,
h3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background:rgb(228, 148, 73);
    border-radius: 15px;
    padding: 10px 10px;
    max-width: 130px;
}

.about-photo{
    border: 2px solid rgb(228, 148, 73);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(185, 121, 61);
    background: rgb(255, 255, 255);
}

.about-content{
    font-size: 20px 70%;
    margin-right: 20px;
    text-align: justify;
}

img{
    width: 350px;
    height: 450px;
}

/* Breakpoint for Smaller Screens */
@media only screen and (max-width: 600px) {
    .about-me {
        flex-direction: column-reverse;
        align-items: center;
    }

    .about-content,
    .about-photo {
        margin-right: 0px;
        margin-bottom: 60px;
        max-width: 80%; 
    }

    .home{
        flex-direction: column;
        align-items: center;
        margin: 0px 0px;
    }

    .home-intro,
    .profile-photo{
        margin-right: 0px;
        margin-bottom: 35px;
        max-width: 80%; 
    }

    .project-item{
        align-items: center;
        justify-content: center;
        display:flex;
        flex-flow: wrap column-reverse;
    }

    .project-name{
        margin-top: 20px;
        margin-right: 0px;
        font-size: 15px;
    }

    .preview-photo{
        scale: 0.
    }
}

/* Portfolio CSS */
.project-item {
    scale: 0.8;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 10px;
    border: 2px solid rgb(228, 148, 73);
    border-radius: 10px;
    box-shadow: 5px 5px rgb(185, 121, 61);
}

.project-name {
    margin-right: 20px; 
}

.preview-photo {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    width: 150px; 
    height: auto;
}

.projects{
    display: block;
    align-items: center;
    list-style-type: none;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 50px 100px;
}

.projects a{
    font-size: 35px;
    font-family: alternate;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px 20px;
    cursor: pointer;
}

.portfolio-head{
    background:rgb(228, 148, 73);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 37%;
    padding: 10px 10px;
    border-radius: 10px;
    font-family: alternate;
    margin-left: 50px;
}

/* Animations */
.slide-in-left {
    opacity: 0;
    transform: translateX(-50px); 
    animation: slideInLeft 1s ease-in-out forwards;
}

.slide-in-right {
    opacity: 0;
    transform: translateX(50px);
    animation: slideInRight 1s ease-in-out forwards;
}

.slide-in-top {
    opacity: 0;
    transform: translateY(-50px);
    animation: slideInTop 1s ease-in-out forwards;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInTop{
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


.profile-photo {
    animation-delay: 0.25s;
}

.home-intro, .home-text, .about-photo {
    animation-delay: 0.5s;
}

.about-content, .portfolio-head{
    animation-delay: 0.25s;
}

